<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger">About Us</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ex fuga voluptas explicabo. Aut minus
                possimus maxime eum, corrupti commodi omnis quae doloremque ipsa soluta voluptas enim magnam blanditiis
                accusamus.</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">
                    App Name : <span class="fw-bold">Angular Routing</span>
                </li>
                <li class="list-group-item">
                    Version : <span class="fw-bold">1.0.0</span>
                </li>
                <li class="list-group-item">
                    Author : <span class="fw-bold">Oleksii Molchanov</span>
                </li>
            </ul>
        </div>
    </div>
</div>