<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="">Angular Router</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>