<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-2">Angular Routing</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe molestiae aut error quia temporibus nihil
                nulla, iste alias soluta sapiente vitae incidunt ipsum sequi consequatur facilis. Doloremque debitis
                animi beatae itaque id tempora. Neque eveniet tenetur maxime laudantium minima commodi?</p>
        </div>
    </div>
</div>